@import "../components/_variables";

.about {
  padding: 0px 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $colorBlue;

  &__circle {
    background-image: url(../../images/eva.jpg);
    background-size: cover;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin-top: 20px;
  }
  &__title {
    font-family: $fontTitle;
    text-align: center;
    font-size: 16px;
    color: $colorBlue;
    margin: 10px 5px;
    font-weight: lighter;
  }
  &__me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    font-family: $fontTitle;
    font-size: 9px;
    text-align: justify;
  }
  &__text-skills {
    font-family: $fontTitle;
    font-size: 9px;
    margin-top: 5px;
    max-width: 80%;
  }
  &__skills-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 5px 0px;
  }
  &__small-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid $colorGreen;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__section-title-skill {
    padding: 2px 4px;
    background-color: $colorBlue;
    color: $colorLight;
    font-family: $fontTitle;
    border-radius: 15px;
    font-size: 11px;
    font-weight: normal;
  }
  &__skill-description {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  &__content-btn {
    text-align: center;
  }
}
.wrapper-skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.bg-container {
  background-color: $colorLight;
  height: 95vh;
  box-shadow: rgba(57, 57, 57, 0.24) 4px 3px 4px 6px;
  padding: 15px;
}
.fa-sass {
  font-size: 24px;
  color: $colorBlue;
}
.fa-js-square {
  font-size: 24px;
  color: $colorBlue;
}
.fa-react {
  font-size: 24px;
  color: $colorBlue;
}

@media all and (max-width: 1024px) and (min-width: 640px) {
  .about {
    &__circle {
      height: 11vh;
      width: 11vh;
    }
    &__title {
      font-size: 18px;
    }
    &__text {
      font-size: 11px;
    }
    &__text-skills {
      font-size: 11px;
    }
    &__skill-content {
      margin-bottom: 10px;
    }
    &__small-circle {
      height: 45px;
      width: 45px;
    }
    &__section-title-skill {
      font-size: 12px;
    }
  }
  .fa-sass {
    font-size: 25px;
    color: $colorBlue;
  }
  .fa-js-square {
    font-size: 25px;
    color: $colorBlue;
  }
  .fa-react {
    font-size: 25px;
    color: $colorBlue;
  }
}
@media all and (min-width: 1024px) {
  .about {
    &__circle {
      height: 12vh;
      width: 12vh;
    }
    &__title {
      font-size: 20px;
    }
    &__text {
      font-size: 13px;
    }
    &__text-skills {
      font-size: 13px;
      max-width: 90%;
    }
    &__skill-content {
      margin-bottom: 10px;
    }
    &__small-circle {
      height: 50px;
      width: 50px;
    }
    &__section-title-skill {
      font-size: 12px;
      width: 15%;
      text-align: center;
    }
  }
  .bg-container {
    padding: 30px 60px;
  }
  .fa-sass {
    font-size: 26px;
    color: $colorBlue;
  }
  .fa-js-square {
    font-size: 26px;
    color: $colorBlue;
  }
  .fa-react {
    font-size: 26px;
    color: $colorBlue;
  }
}
