@import "../components/_variables";

.about {
  background-image: url(../../images/Eva.jpg);
  background-size: cover;
  border-radius: 12px;

  &__me-content {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 12px;
  }
  &__text {
    font-family: $fontTitle;
    font-size: 12px;
    padding: 20px;
    width: 100%;
    color: white;
    font-weight: lighter;
  }
  &__text-skills {
    font-family: $fontTitle;
    font-size: 9px;
    margin-top: 5px;
    max-width: 80%;
  }
  &__skills-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 5px 0px;
  }
}
.wrapper-skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.bg-container {
  display: flex;
  justify-content: space-around;
  background-color: $colorLight;
  height: 95vh;
  box-shadow: rgba(57, 57, 57, 0.24) 4px 3px 4px 6px;
  padding: 15px;
}
.fa-sass {
  font-size: 24px;
  color: $colorBlue;
}
.fa-js-square {
  font-size: 24px;
  color: $colorBlue;
}
.fa-react {
  font-size: 24px;
  color: $colorBlue;
}
.overlay {
  height: 300px;
  width: auto;
  border-radius: 12px;
  left: 0;
  right: 0;
  bottom: auto;
  background: linear-gradient(
    90deg,
    rgba(45, 48, 48, 1) 34%,
    rgba(255, 186, 90, 0) 100%
  );
  z-index: 2;
  cursor: pointer;
}

.wrapperSvg {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.bgSvgShadow {
  height: 250px;
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 10px rgba(29, 29, 29, 0.096);
  cursor: pointer;
}
.bgSvg {
  height: 250px;
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
}
.textSvg {
  font-family: "Ranchers";
  letter-spacing: 5px;
}
.ec83b23e-092a-4e22-8528-1dca1cae1d09 {
  fill: #ff95a9;
}

.af2e6c01-e08a-4b6a-909d-940cc945e29a {
  fill: #fcc8d4;
}

.f30552a1-dad7-4285-bb6d-39a172ee2b3b {
  fill: #f93e6b;
}

.bc64b95d-3bfa-47bf-a4c7-b8cbe14093d5 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 9px;
}

@media all and (min-width: 640px) {
  .wrapperSvg {
    padding-right: 50px;
  }
  .about {
    background-image: url(../../images/Eva.jpg);

    &__me-content {
      display: flex;
      align-items: center;
      padding-left: 50px;
      height: 100%;
      border-radius: 12px;
    }
    &__text {
      font-size: 16px;
      width: 65%;
    }
  }
}
