@import "../components/_variables";

.about {
  background-image: url(../../images/Eva.jpg);
  background-size: cover;
  border-radius: 12px;

  &__me-content {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 100%;
    border-radius: 12px;
  }
  &__text {
    font-family: $fontTitle;
    font-size: 14px;
    text-align: start;
    width: 65%;
    color: white;
  }
  &__text-skills {
    font-family: $fontTitle;
    font-size: 9px;
    margin-top: 5px;
    max-width: 80%;
  }
  &__skills-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 5px 0px;
  }
  &__small-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid $colorGreen;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__section-title-skill {
    padding: 2px 4px;
    background-color: $colorBlue;
    color: $colorLight;
    font-family: $fontTitle;
    border-radius: 15px;
    font-size: 11px;
    font-weight: normal;
  }
  &__skill-description {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  &__content-btn {
    text-align: center;
    position: absolute;
    bottom: 100px;
  }
}
.wrapper-skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.bg-container {
  display: flex;
  justify-content: space-around;
  background-color: $colorLight;
  height: 95vh;
  box-shadow: rgba(57, 57, 57, 0.24) 4px 3px 4px 6px;
  padding: 15px;
}
.fa-sass {
  font-size: 24px;
  color: $colorBlue;
}
.fa-js-square {
  font-size: 24px;
  color: $colorBlue;
}
.fa-react {
  font-size: 24px;
  color: $colorBlue;
}
.overlay {
  //position: absolute;
  height: 300px;
  width: auto;
  // top: 300px;
  border-radius: 12px;
  left: 0;
  right: 0;
  bottom: auto;
  // background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    90deg,
    rgba(45, 48, 48, 1) 34%,
    rgba(255, 186, 90, 0) 100%
  );
  z-index: 2;
  cursor: pointer;
}

// @media all and (max-width: 1024px) and (min-width: 640px) {
//   .about {
//     &__circle {
//       height: 11vh;
//       width: 11vh;
//     }
//     &__title {
//       font-size: 18px;
//     }
//     &__text {
//       font-size: 11px;
//     }
//     &__text-skills {
//       font-size: 11px;
//     }

//     &__small-circle {
//       height: 45px;
//       width: 45px;
//     }
//     &__section-title-skill {
//       font-size: 12px;
//     }
//   }
//   .fa-sass {
//     font-size: 25px;
//     color: $colorBlue;
//   }
//   .fa-js-square {
//     font-size: 25px;
//     color: $colorBlue;
//   }
//   .fa-react {
//     font-size: 25px;
//     color: $colorBlue;
//   }
// }
// @media all and (min-width: 1024px) {
//   .about {
//     &__circle {
//       height: 12vh;
//       width: 12vh;
//     }
//     &__title {
//       font-size: 20px;
//     }
//     &__text {
//       font-size: 13px;
//     }
//     &__text-skills {
//       font-size: 13px;
//       max-width: 90%;
//     }

//     &__small-circle {
//       height: 50px;
//       width: 50px;
//     }
//     &__section-title-skill {
//       font-size: 12px;
//       width: 15%;
//       text-align: center;
//     }
//     &__skill-description {
//       padding: 10px;
//       display: flex;
//     }
//   }
//   .bg-container {
//     padding: 30px 60px;
//   }
//   .fa-sass {
//     font-size: 26px;
//     color: $colorBlue;
//   }
//   .fa-js-square {
//     font-size: 26px;
//     color: $colorBlue;
//   }
//   .fa-react {
//     font-size: 26px;
//     color: $colorBlue;
//   }
// }

.wrapperSvg {
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.bgSvgShadow {
  height: 250px;
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 10px rgba(29, 29, 29, 0.096);
  cursor: pointer;
}
.bgSvg {
  height: 250px;
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
}
.textSvg {
  font-family: "Ranchers";
  letter-spacing: 5px;
}
.ec83b23e-092a-4e22-8528-1dca1cae1d09 {
  fill: #ff95a9;
}

.af2e6c01-e08a-4b6a-909d-940cc945e29a {
  fill: #fcc8d4;
}

.f30552a1-dad7-4285-bb6d-39a172ee2b3b {
  fill: #f93e6b;
}

.bc64b95d-3bfa-47bf-a4c7-b8cbe14093d5 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 9px;
}
