@import "../components/_variables";

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $colorBlue;
  &__nav-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    font-family: $fontTitle;
    font-size: 14px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    width: 45vw;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: rgb(245, 242, 242);
  }
  &__info-content {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    width: 100vw;
    color: $colorBlue;
    background-color: $colorLight;
  }
  &__title-and-btn {
    align-self: center;
    width: 40vw;
    margin: 10px;
  }
  &__title {
    padding-right: 10px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: $fontTitle;
    font-weight: normal;
    margin-top: 10px;
  }
  &__subtitle {
    font-family: $fontText;
    font-size: 24px;
    font-weight: normal;
    margin-top: 15px;
  }
  &__img-content {
    align-self: flex-end;
    transform: translateY(15vh);
    padding-left: 20px;
  }
  &__img {
    height: 70vh;
    width: 47vw;
    box-shadow: rgba(57, 57, 57, 0.24) 4px 3px 4px 6px;
  }
  &__flowers-img-content {
    padding-left: 50%;
    padding-top: 22px;
  }
  &__img-flowers {
    height: 20vh;
  }
}

@media screen and (max-width: 640px) and (min-width: 320px) {
  .header {
    //background-image: url(../../images/coverMobile.jpg);
  }
}

// @media all and (max-width: 1024px) and (min-width: 640px) {
//   .header {
//     //background-image: url(../../images/coverTablet.jpg);
//     &__nav-content {
//       font-size: 16px;
//     }
//     &__nav {
//       min-width: 300px;
//       max-width: 500px;
//     &__info-content {
//       height: 250px;
//     }
//     &__title {
//       font-size: 36px;
//     }
//     &__subtitle {
//       font-size: 28px;
//     }
//   }
// }

// @media all and (min-width: 1024px) {
//   .header {
//     //background-image: url(../../images/cover.jpg);
//   }
// }
