@import "../components/_variables";

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $colorBlue;
  &__nav-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    font-family: $fontTitle;
    font-size: 10px;
  }
  &__nav {
    cursor: pointer;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: rgb(245, 242, 242);
  }
  &__info-content {
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
    width: 100vw;
    color: $colorBlue;
    background-color: $colorLight;
  }
  &__title-and-btn {
    align-self: center;
    width: 40vw;
  }
  &__title {
    font-size: 22px;
    text-transform: uppercase;
    font-family: $fontTitle;
    font-weight: normal;
    margin-top: 20px;
  }
  &__subtitle {
    font-family: $fontText;
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
  }
  &__img-content {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  &__img {
    height: 80%;
  }
  &__flowers-img-content {
    display: flex;
    justify-content: center;
  }
  &__img-flowers {
    height: 45%;
  }
}
.fa-circle {
  font-size: 6px;
  margin: 5px;
}

@media all and (max-width: 1024px) and (min-width: 640px) {
  .header {
    &__nav-content {
      height: 44px;
      font-size: 11px;
    }
    &__info-content {
      padding: 0px 30px;
    }
    &__title-and-btn {
      width: 45vw;
    }
    &__title {
      font-size: 24px;
      margin-top: 20px;
    }
    &__subtitle {
      font-size: 20px;
    }
    &__img-content {
      margin-top: 15px;
      display: flex;
      align-items: center;
    }
    &__img {
      height: 80%;
    }
    &__flowers-img-content {
      display: flex;
      justify-content: center;
    }
    &__img-flowers {
      height: 45%;
    }
  }
  .fa-circle {
    font-size: 6px;
    margin: 5px;
  }
}
@media all and (min-width: 1024px) {
  .header {
    &__nav-content {
      height: 44px;
      font-size: 11px;
    }
    &__info-content {
      padding: 0px 30px;
    }
    &__title-and-btn {
      width: 45vw;
    }
    &__title {
      font-size: 24px;
      margin-top: 20px;
    }
    &__subtitle {
      font-size: 20px;
    }
    &__img-content {
      margin-top: 15px;
      display: flex;
      align-items: center;
    }
    &__img {
      height: 80%;
    }
    &__flowers-img-content {
      display: flex;
      justify-content: center;
    }
    &__img-flowers {
      height: 45%;
    }
  }
  .fa-circle {
    font-size: 6px;
    margin: 5px;
  }
}
