@import "../components/_variables";

.projects {
  padding: 0px 50px;
  background-color: $colorBlue;
}
.projects__title {
  font-family: $fontTitle;
  text-align: center;
  font-size: 16px;
  color: $colorBlue;
  margin-top: 20px;
  font-weight: lighter;
}
.wrapper {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  background-color: $colorLight;
  box-shadow: rgba(57, 57, 57, 0.24) 4px 3px 4px 6px;
}
.project__item {
  list-style: none;
  text-align: center;
}
.project__content {
  background-color: $colorLight;
  margin: 15px;
  box-shadow: rgba(57, 57, 57, 0.24) 4px 3px 4px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 2s;
}
.project__content:hover {
  transform: scale(1.08);
}

.project__title {
  font-family: $fontTitle;
  color: $colorGreen;
  font-size: 12px;
  margin: 10px;
}
.project__img {
  height: 150px;
}
.project__description {
  font-family: $fontTitle;
  margin: 10px;
  font-size: 10px;
}
.project_links-content {
  display: flex;
  flex-direction: column;
}
.project__languages {
  font-family: $fontTitle;
  font-size: 9px;
  margin: 8px;
}
a {
  text-decoration: none;
  width: 200px;
}

@media all and (max-width: 1024px) and (min-width: 640px) {
  .projects {
    padding: 0px 50px;
  }
  .projects__title {
    font-size: 20px;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .project__content {
    height: 400px;
    margin: 28px;
  }
  .project__content:hover {
    transform: scale(1.1);
  }

  .project__title {
    font-size: 14px;
  }
  .project__img {
    height: 200px;
  }
  .project__description {
    font-size: 11px;
    padding: 5px;
  }
  .project__languages {
    font-size: 9px;
    margin: 10px;
  }
}

@media all and (min-width: 1024px) {
  .projects {
    padding: 0px 50px;
  }
  .projects__title {
    font-size: 20px;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project__content {
    height: 450px;
    margin: 28px;
  }
  .project__content:hover {
    transform: scale(1.1);
  }
  .project__title {
    font-size: 16px;
  }
  .project__img {
    height: 200px;
  }
  .project__description {
    font-size: 13px;
    padding: 10px;
  }
  .project__languages {
    font-size: 10px;
    margin: 10px;
  }
}
