@import "../components/_variables";

.projects {
  background-color: $aqua;
  padding-top: 95px;
}

.wrapper {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: 350px;
}
.project__item {
  text-align: center;
  background-color: $colorLight;
  margin: 15px;
  box-shadow: rgba(57, 57, 57, 0.24) 4px 3px 4px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;
  height: 450px;
  cursor: pointer;
}
.project__item:hover {
  transform: scale(1.05);
}
.project__title {
  font-family: $fontTitle;
  color: $lilac;
  font-size: 12px;
  margin-top: 15px;
}
.project__img-content {
  width: 100%;
}
.project__img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.project__description {
  font-family: $fontTitle;
  color: #333333;
  margin: 10px 15px;
  font-size: 10px;
}
.project_links-content {
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    width: 200px;
  }
}
.project__languages {
  font-family: $fontTitle;
  font-size: 9px;
  margin: 8px 0 20px 0;
  color: #333333;
  span {
    background-color: #b0e9e9;
    border-radius: 15px;
    margin: 0 3px;
    padding: 2px 8px;
  }
}

@media all and (max-width: 1024px) and (min-width: 640px) {
  .projects {
    // padding: 0px 50px;
  }
  .projects__title {
    font-size: 18px;
  }
  .wrapper {
    grid-template-columns: 350px 350px;
  }
  .project__title {
    font-size: 14px;
  }
  .project__description {
    font-size: 11px;
  }
  .project__languages {
    font-size: 9px;
  }
}

@media all and (min-width: 1024px) {
  // .projects__title {
  //   font-size: 18px;
  // }
  .wrapper {
    grid-template-columns: 350px 350px 350px;
  }
  .project__item {
    //  margin: 25px;
  }
  .project__title {
    font-size: 16px;
  }
  .project__img {
    //height: 200px;
  }
  .project__description {
    font-size: 13px;
  }
  .project__languages {
    font-size: 10px;
  }
}
