@import "../components/_variables";

.ux {
  overflow-y: hidden;
  height: 100vh;
  &__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0 20px;
    }
    &-arrow-slider {
      background-color: transparent;
      border: none;
      color: $colorLight;
      font-size: 60px;
      cursor: pointer;
      font-family: "Rubik", sans-serif;
      transition: all 0.3s;
    }
    &-show-more {
      font-size: 18px;
      font-family: $fontTitle;
      padding: 4px 6px;
      margin: 3px;
      transition: all 0.8s;
      cursor: pointer;
      border-radius: 10px;
      color: $colorLight;
      border: solid 2px $colorLight;
      background: transparent;
    }
    &-show-more:hover {
      color: $colorLight;
      background-color: $lilac;
      border: solid 2px $lilac;
    }
    &-arrow-slider:hover {
      color: $lilac;
    }
  }
  .pink {
    background-color: $pink;
  }
  &__img {
    object-fit: contain;
    width: 100%;
  }
}

.ux-complete {
  height: auto;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  &__content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    width: 80%;
    &-main {
      color: white;
      //width: 50%;
      //  margin-right: 70px;
      &-title {
        font-weight: bolder;
        font-size: 26px;
      }
      &-description {
        font-size: 18px;
        margin-top: 20px;
      }
    }
    &-wireframe {
      color: white;
      // width: 50%;
      // margin-left: 70px;
      &-title {
        font-weight: bolder;
        font-size: 20px;
      }
      &-description {
        font-size: 15px;
        margin-top: 20px;
      }
    }
    &-style {
      color: white;
      // width: 50%;
      // padding-left: 100px;
      //  margin-right: 70px;
      &-title {
        font-weight: bolder;
        font-size: 20px;
      }
      &-description {
        font-size: 15px;
        margin-top: 20px;
      }
    }
  }
  &__img-style {
    object-fit: cover;
    height: 300px;
    cursor: pointer;
  }
  &__img-wireframe {
    object-fit: cover;
    height: 300px;
  }
}
.wrap-img {
  //width: 50%;
}
.full-image-content {
  background-color: $pink;
  height: 100vh;
  display: flex;
  align-items: center;
  &-link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &-img {
    width: 80%;
    max-height: 90vh;
  }
}

@media all and (max-width: 1024px) and (min-width: 640px) {
}

@media all and (min-width: 1024px) {
  .ux {
    padding-top: 80px;
    &__img {
      height: 80vh;
    }
  }
  .ux-complete {
    &__content {
      padding: 65px 10px;
    }
    &__content-info {
      flex-direction: row;
      &-main {
        color: white;
        width: 50%;
        margin-right: 70px;
        &-title {
          font-weight: bolder;
          font-size: 26px;
        }
        &-description {
          font-size: 18px;
          margin-top: 20px;
        }
      }
      &-wireframe {
        color: white;
        width: 50%;
        margin-left: 70px;
        &-title {
          font-weight: bolder;
          font-size: 20px;
        }
        &-description {
          font-size: 15px;
          margin-top: 20px;
        }
      }
      &-style {
        color: white;
        width: 50%;
        // padding-left: 100px;
        margin-right: 70px;
        &-title {
          font-weight: bolder;
          font-size: 20px;
        }
        &-description {
          font-size: 15px;
          margin-top: 20px;
        }
      }
    }
  }
}
