$fontTitle: "Montserrat", sans-serif;
$fontText: "Lora", serif;

$colorLight: #ffffff;
$colorDarkBlue: rgb(18, 70, 116);

$colorPurple: rgb(104, 86, 194);

$colorGreen: #2acfcd;
$colorBlue: #e02557;

$colorGray: rgb(138, 138, 138);
$colorPink: rgb(243, 199, 219);
